# Development
example/
src/
*.test.ts
*.spec.ts
coverage/

# Build artifacts to exclude
dist/example/
dist/__tests__/
dist/cjs/__tests__/
dist/cjs/example/

# Tooling
.idea/
.vscode/
.eslintrc*
eslint.config.js
babel.config.cjs
tsconfig*.json
*.log

# Misc
.DS_Store
.env
.env.*
